.movie-page {
  background-color: #141414;
  height: 100vh;
}

.movie-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
}

.movie-banner .overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #141414);
}

.movie-banner .content {
  padding-top: 2.7rem;
}

.nav-tabs .nav-link {
  border-radius: 0;
  font-weight: bold;
  color: white;
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border-bottom: solid 3px;
}

.card {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.overlay-text h6,
.overlay-text p {
  margin: 0;
  padding: 0;
}

.movie-description {
  max-width: 800px;
}

.logo {
  height: 200px;
  width: 200px;
}

.cast-card {
  flex: 0 0 auto;
  width: 100px; 
}

.movie-card {
  height: 500px;
}

.card-img-top {
  height: auto;
  object-fit: fill;
}

@media (max-width: 576px) {
  .movie-page {
    height: auto;
  }

  .movie-banner {
    height: 100vh;
  }

  .display-3 {
    font-size: 1.7rem;
  }

  .lead {
    font-size: 1rem;
  }

  .nav-tabs .nav-link {
    padding: 0.5rem 0.3rem;
  }

  .cast-card {
    width: 100%;
  }

  .movie-description {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
  }

  .logo {
    height: 2rem;
    width: 1rem;
  }
}

@media (min-width: 768px) {
  .cast-card {
    width: 180px;
  }
}

@media (min-width: 992px) {
  .cast-card {
    width: 200px;
  }
}
