.movie-page {
  background-color: #141414;
  height: 100vh;
}


.movie-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
}

.nav-tabs .nav-link {
  border-radius: 0;
  font-weight: bold;
  color: white;
  border: none;
}


.nav-tabs .nav-link.active {
  background-color: transparent;
  border-bottom: solid 3px;
}
.card {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}


@media (max-width: 767px) {
  .overlay-text {
    padding: 8px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .overlay-text {
    padding: 10px;
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .overlay-text {
    padding: 12px;
    font-size: 16px;
  }
}

.overlay-text h6,
.overlay-text p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}



.movie-banner .overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #141414);
}

.movie-banner .content {
  padding-top: 2.7rem;
}

.movie-description {
  max-width: 800px;
}
.logo{
  height: 7rem;
  width: auto;
}
.cast-card {
  flex: 0 0 auto;
  width: 100px; 
}
.movie-card {
  height: 500px;

}
.card-img-top {
  height: auto;
  object-fit: fill;
}



@media (min-width: 768px) {
  .cast-card {
    width: 180px;
  }
}

@media (min-width: 992px) {
  .cast-card {
    width: 200px;
  }
}
