<div class="movie-page text-white">
  <div class="movie-banner position-relative" [style.backgroundImage]="'url(https://image.tmdb.org/t/p/original/' + movie?.backdrop_path + ')'">
    <div class="overlay position-absolute w-100 h-100"></div>
    <div class="content container position-relative d-flex flex-column justify-content-end">
      <h1 class="display-2">{{ movie?.title }}</h1>
      <p class="lead">{{ movie?.tagline }}</p>
      <div class="d-flex align-items-center mt-3">
        <span class="badge bg-success me-3 fs-6">{{ movie?.vote_average| number: '1.0-0'}}/10</span>
        <span *ngFor="let genre of movie?.genres" class="badge text-bg-secondary me-2 fs-6">{{ genre.name }}</span>
      </div>
      <p class="text-secondary mt-4">{{ movie?.release_date | date:'dd/MM/yyyy' }} • {{ movie?.runtime}} minutes</p>
      <div class="mt-4">
        <button class="btn me-2" 
        [ngClass]="isWatched ? 'btn-light' : 'btn-outline-light'" 
        (click)="toggleWatched()">
        <i class="fa-solid fa-play me-2"></i>{{ isWatched ? 'Retirer des films vus' : 'Ajouter aux films vus' }}
      </button>
      
      <button class="btn me-2" 
        [ngClass]="isWatchlist ? 'btn-light' : 'btn-outline-light'" 
        (click)="toggleWatchlist()">
        <i class="fa-regular fa-clock me-2"></i>{{ isWatchlist ? 'Retirer de la watchlist' : 'Ajouter à la watchlist' }}
      </button>
      
      <button class="btn me-2" 
        [ngClass]="isFavorite ? 'btn-light' : 'btn-outline-light'" 
        (click)="toggleFavorite()">
        <i class="fa-regular fa-heart me-2"></i>{{ isFavorite ? 'Retirer des favoris' : 'Ajouter aux favoris' }}
      </button>
      
      
        <div *ngIf="!isLoggedIn" class="text-danger mt-3">
          Vous devez être connecté pour effectuer ces actions.
        </div>
      </div>
      
      <p class="mt-4 movie-description">{{ movie?.overview || "Aucune description n'a été fournie par l'API." }}</p>
      <p class="mt-2">Budget : {{ movie?.budget | currency }}</p>
      <p>Box Office : {{ movie?.revenue | currency}}</p>
    </div>
  </div>
  

  
</div>
