<div class="container text-white my-5">
    <div class="row justify-content-center align-items-center">
        <div *ngFor="let member of members" class="col-md-6 col-lg-4 mb-4">
            <a routerLink="/profil/{{member.nickname}}">
                <div class="card member-item">
                    <div class="image-container">
                        <img src="https://avatars.githubusercontent.com/u/93445134" class="card-img-top rounded-circle" alt="{{ member.nickname }}" />
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title fs-4 mb-1">{{ member.nickname }}</h5>
                        <hr class="text-white">
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto text-center">
                                <p class="text-secondary small">
                                    <i class="fa-solid fa-heart"></i> <span class="fw-bold"> 0</span>
                                </p>
                            </div>
                            <div class="col-auto text-center">
                                <p class="text-secondary small">
                                    <i class="fa-solid fa-clock"></i> <span class="fw-bold"> 0</span>
                                </p>
                            </div>
                            <div class="col-auto text-center">
                                <p class="text-secondary small">
                                    <i class="fa-solid fa-film"></i> <span class="fw-bold"> 0</span>
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
