<div class="container text-white my-5">
    <div class="row justify-content-start">
        <div class="text-center mb-5 pb-5" id="aucinema">
          <h1 class="display-4 font-weight-bold">Liste de nos membres</h1>
          <p class="lead text-secondary">
            Rejoignez plus de {{ members.length }} fans de cinéma
          </p>
        </div>
        <div *ngFor="let member of members" class="col-md-6 col-lg-4 mb-4">
            <a routerLink="/profil/{{member.nickname}}">
                <div class="card member-item">
                    <div class="image-container">
                        <img src="{{member.avatar_url}}" class="card-img-top rounded-circle" />
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title fs-4">{{ member.nickname }}</h5>
                        <hr class="text-white">
                        <div class="row justify-content-center">
                            <div class="col-auto text-center">
                              <p class="text-info small">
                                <i class="fa-solid fa-film" data-bs-toggle="tooltip" title="Films regardés"></i> 
                                <span class="fw-bold"> {{ member.watched_count  }}</span>
                              </p>
                            </div>
                            <div class="col-auto text-center">
                              <p class="text-danger small">
                                <i class="fa-solid fa-heart" data-bs-toggle="tooltip" title="Nombre de favoris"></i> 
                                <span class="fw-bold"> {{ member.favorites_count  }}</span>
                              </p>
                            </div>
                            <div class="col-auto text-center">
                              <p class="text-warning small">
                                <i class="fa-solid fa-clock" data-bs-toggle="tooltip" title="Films à voir"></i> 
                                <span class="fw-bold"> {{ member.watchlist_count  }}</span>
                              </p>
                            </div>
                          </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
