/* styles.css ou styles du composant Angular */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .card-img-top {
    height: 600px; /* Fixe la hauteur de l'image pour que toutes les cartes aient la même taille d'image */
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem; /* Ajoute du padding pour que le texte ne colle pas aux bords */
  }
  
  .card-title {
    font-size: 1.25rem; /* Taille uniforme pour les titres */
    font-weight: bold;
    margin-bottom: 1rem; /* Espacement en bas du titre */
  }
  
  .card-text {
    font-size: 0.875rem; /* Taille uniforme pour le texte */
    overflow: hidden; /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est trop long */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limite le texte à un nombre de lignes */
    -webkit-box-orient: vertical;
    margin-bottom: 1rem; /* Espacement en bas du texte */
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  