
.carousel-item {
  padding-left: 2rem; 
  padding-right: 2rem;
}


.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 5%;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}



.movie-card {
  min-width: 150px;
  flex: 0 0 auto;
  position: relative;
}

.carousel-inner {
  display: flex;
  align-items: center;
  min-height: 400px;
}

.movie-card img {
  border-radius: 8px;
  height: 40vh;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}


@media (max-width: 767.98px) {
  .carousel-item {
    flex: 0 0 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .movie-card {
    min-width: 100%;
  }
}

@media (min-width: 768px) {
  .movie-card {
    min-width: 200px;
  }
}

@media (min-width: 1200px) {
  .movie-card {
    min-width: 250px;
  }

}
