.login-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  padding: 40px;
  border-radius: 12px;
  max-width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: background-image 1s ease-in-out;
}

.fw-bold {
  font-weight: 700;
}

.input-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.toggle-password i {
  font-size: 16px;
}

.rounded-pill {
  border-radius: 50px !important;
}

.text-primary:hover {
  text-decoration: underline;
}

a:hover {
  color: black !important;
  text-decoration: underline !important;
}