<div class="d-flex flex-column min-vh-100"
[ngStyle]="{
  'background-image': 'linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(https://image.tmdb.org/t/p/original/' + movie.backdrop_path + ')',
  'background-size': 'cover',
  'background-position': 'center',
  'background-attachment': 'fixed'
}">
<div class="container my-auto">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-md-6">
          <div class="login-container shadow">
            <div class="text-center mb-4">
              <h2 class="fw-bold">Connexion</h2>
              <p class="text-muted">Accédez à votre collection de films</p>
              <div *ngIf="loginMessage" class="alert {{ alertType }} mt-3" role="alert">
                {{ loginMessage }}
              </div>
            </div>
            <form (ngSubmit)="onLogin()">
              <div class="mb-3">
                <label for="username" class="form-label">Nom de compte :</label>
                <input type="text" id="username" class="form-control rounded-pill" [(ngModel)]="username" name="username" required placeholder="Entrez votre nom de compte">
              </div>
              <div class="mb-3 position-relative">
                <label for="password" class="form-label">Mot de passe :</label>
                <div class="input-group">
                  <input [type]="passwordType" id="password" class="form-control rounded-pill" [(ngModel)]="password" name="password" required placeholder="Votre mot de passe">
                  <button type="button" class="btn toggle-password" (click)="togglePassword()">
                    <i class="fa" [ngClass]="passwordType === 'password' ? 'fa-eye-slash' : 'fa-eye'"></i>
                  </button>
                </div>
              </div>
              <button type="submit" class="btn btn-dark w-100 rounded-pill py-2 mt-3">Se connecter</button>
              <div class="text-center mt-3">
                <a href="/register" class="text-dark">Pas encore inscrit ?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>  