<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-md py-2 navbar-bg">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <div class="navbar-section-left d-flex justify-content-start">
        <a href="/" class="fs-2 text-white d-flex align-items-center text-dark text-decoration-none">
          Binge
        </a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-center">
          <li class="nav-item">
            <a href="/" class="nav-link text-white">
              <i class="fa-solid fa-house"></i> Accueil
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/films" class="nav-link text-white">
              <i class="fa-solid fa-film"></i> Découverte
            </a>
          </li>
          <li class="nav-item">
            <a (click)="scrollTo('aucinema')" class="nav-link text-white">
              <i class="fa-solid fa-video"></i> Au cinéma
            </a>
          </li>
        </ul>
      </div>

      <div class="navbar-section-right d-flex justify-content-end">
        <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
          <a routerLink="/login" class="btn btn-dark m-2">
           Connexion
          </a>
          <a routerLink="/register" class="btn btn-dark">
             Inscription
          </a>
        </ng-container>

        <ng-template #loggedInTemplate>
          <a routerLink="/profil" class="btn btn-dark m-2">
            {{ nickname }}
          </a>
          <a (click)="logout()" class="btn btn-dark">
            Déconnexion
          </a>
        </ng-template>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
