<div class="container-fluid bg-dark">
    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/023/608/676/small_2x/movie-film-frame-png.png"  class="w-25">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Accueil</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Au cinéma</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Populaire</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Tendances</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-dark me-2">Connexion</button>
        <button type="button" class="btn btn-dark">Inscription</button>
      </div>
    </nav>
  </div>