<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-md py-2 navbar-bg">
    <div class="container-fluid">
      <a href="/" class="fs-2 ms-5 text-white d-flex align-items-center text-dark text-decoration-none">
        Binge
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav mx-auto d-flex justify-content-center mx-5">
          <li class="nav-item">
            <a href="/" class="nav-link text-white">
              <i class="fa-solid fa-house"></i> Accueil
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/films" class="nav-link text-white">
              <i class="fa-solid fa-film"></i> Découverte
            </a>
          </li>
          <li class="nav-item">
            <a (click)="scrollTo('aucinema')" class="nav-link text-white">
              <i class="fa-solid fa-video"></i> Au cinéma
            </a>
          </li>
        </ul>

        <div class="d-flex">
          <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
            <a routerLink="/login" class="btn btn-dark m-2">
              <i class="fa-solid fa-sign-in-alt"></i> Connexion
            </a>
            <a routerLink="/register" class="btn btn-dark">
              <i class="fa-solid fa-user-plus"></i> Inscription
            </a>
          </ng-container>

          <ng-template #loggedInTemplate>
            <a routerLink="/profil" class="btn btn-dark m-2">
              <i class="fa-solid fa-user"></i> {{ nickname }}
            </a>
            <a (click)="logout()" class="btn btn-dark">
              <i class="fa-solid fa-right-from-bracket"></i> Déconnexion
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>