<div class="container my-5 text-white pt-5">
    <div class="text-center mb-5 pb-5">
      <h1 class="display-5 font-weight-bold">Découverte de vos goûts</h1>


    </div>
    <div class="row mb-4 pb-2">
        <div class="col-md-4 me-auto">
            <form class="d-flex" (keydown.enter)="searchFilms(searchQuery)" by (input)="searchFilms(searchQuery)">
                <div class="search-container">
                    <i class="fa fa-search search-icon"></i>
                    <input class="form-control search-input" type="search" placeholder="Trouvez un film" aria-label="Search" [(ngModel)]="searchQuery" name="searchQuery">
                </div>
            </form>
        </div>
    </div>

    <div>  
      <div class="row">
        <div *ngFor="let film of films" class="col-md-4 mb-4 text-center">
          <div class="card border-light bg-dark text-white">
            <a [routerLink]="['/film', film.id]" class="d-block">
                <img [src]="'https://image.tmdb.org/t/p/w500/' + film.poster_path" 
                     class="img-fluid rounded">
              </a>
            <div class="card-body">
              <h5 class="card-title">{{ film.title }}</h5>
              <p class="card-text text-small">{{ film.release_date | date:'dd/MM/yyyy' }}</p>
              <p class="card-text truncated-text">{{ film.overview || "Aucune description n'a été fournie par l'API."}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <button class="back-to-top" (click)="scrollToTop()">↑</button>
