h1 {
  padding-top: 10rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.card-body .btn {
  margin-right: 20px;
}
.custom-background {
  background-color: rgba(0, 0, 0, 0.75);
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Ensure full width on all devices */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  font-size: 18px;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s;
}

.search-input {
  width: 100%; /* Full width of the container */
  padding: 10px 10px 10px 40px; /* Padding for the search icon */
  border: 1px solid #ccc;
  border-radius: 5px; /* Added rounded corners for aesthetics */
  transition: width 0.5s ease-in-out;
}

.form-control {
  border-radius: 5px;
}

.form-control:focus {
  box-shadow: none;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #505050;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}
.custom-width {
  width: 150px;
  padding: 10px 10px; 
}

.back-to-top:hover {
  background-color: rgb(102, 100, 100);
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .search-input {
    padding: 10px 10px 10px 40px; /* Maintain padding for smaller screens */
  }

  .search-container {
    width: 100%; /* Ensures the search container takes full width */
  }

  .form-control {
    width: 100%; /* Make dropdowns take full width in smaller screens */
  }
}

@media (min-width: 769px) {
  .search-input {
    max-width: 300px; /* Optional: limit the width on larger screens */
  }
}

