
h1, h2 {
  padding-top: 2rem;
}

.display-4 {
  font-size: 2.5rem;
}

p.lead {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #ddd;
}

hr.bg-light {
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 1.5rem 0;
}



img.rounded {
  object-fit: cover;
  border-radius: 10px;
  max-height: 500px;
  width: 100%;
}

.card {
  background-color: #23272b;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 1rem;
  text-align: center;
}

.card-title {
  font-size: 1.1rem;
  color: #fff;
}

.card small {
  color: #ccc;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #505050;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}

.back-to-top:hover {
  background-color: #6b6b6b;
}


@media (max-width: 767.98px) {
  .display-4 {
      font-size: 1.75rem;
  }

  img.rounded {
      max-width: 250px;
  }
}

@media (min-width: 768px) {
  .display-4 {
      font-size: 2.5rem;
  }

  .card-title {
      font-size: 1.25rem;
  }
}
