footer {
  background-color: #14181C !important;
  padding: 40px 10vw;
  text-align: center;
}

footer p {
  margin-top: 20px;
}

footer a {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ccc;
}

@media (max-width: 768px) {
  footer {
    padding: 30px 5vw;
  }

  footer a {
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  footer {
    padding: 20px 5vw;
  }

  footer a {
    font-size: 0.75rem;
  }
}

@media (max-width: 400px) {
  footer {
    display: none;
  }
}
