<div class="container mt-5 dashboard-container text-white">
    <div class="text-center pb-5">
      <div class="d-flex flex-column align-items-center position-relative">
        <div class="avatar-wrapper" 
             *ngIf="nickname && currentNickname && nickname === currentNickname" 
             data-bs-toggle="modal" 
             data-bs-target="#profileUpdateModal">
          <img [src]="currentProfile?.avatar_url" 
               class="avatar rounded-circle mb-2" />
          <div class="avatar-overlay">
            <span class="edit-icon"><i class="fa-solid fa-pencil"></i></span>
          </div>
        </div>
    
        <img [src]="currentProfile?.avatar_url" 
        class="avatar rounded-circle mb-2 unclickable" 
        *ngIf="nickname && currentNickname && nickname !== currentNickname" />

        <h1 class="mt-3">
          {{ nickname && currentNickname && nickname === currentNickname ? nickname : 'Profil de ' + nickname }}
          <p class="fs-6 lead fst-italic" *ngIf="bio">« {{ bio }} »</p>
        </h1>
        
      <div class="row text-center p-0">
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-white text-white small" data-bs-toggle="modal" data-bs-target="#followersModal">
            Abonné{{ followersCount >= 2 ? 's' : '' }} : {{ followersCount }}
          </button>
          <button class="btn btn-white text-white small" data-bs-toggle="modal" data-bs-target="#followingsModal">
            Abonnement{{ followingCount >= 2 ? 's' : '' }} : {{ followingCount }}
          </button>
        </div>
        <hr class="text-white">
        <button class="btn btn-outline-light" *ngIf="nickname && currentNickname && nickname !== currentNickname" (click)="toggleFollow()">
          {{ isFollowing ? 'Ne plus suivre' : 'Suivre' }}
        </button>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="watched-tab" data-bs-toggle="tab" href="#watched" role="tab" aria-controls="watched" aria-selected="true">
        Films vus ({{ watched.length }})
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="favorites-tab" data-bs-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="false">
        Favoris ({{ favorites.length }})
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="watchlist-tab" data-bs-toggle="tab" href="#watchlist" role="tab" aria-controls="watchlist" aria-selected="false">
        Watchlist ({{ watchlist.length }})
      </a>
    </li>
  </ul>

  <div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="watched" role="tabpanel" aria-labelledby="watched-tab">
      <div class="movie-list">
        <div *ngFor="let movie of paginatedWatched()" class="movie-card">
          <a [routerLink]="['/film', movie.id]" class="d-block">
            <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}" />
          </a>
        </div>
        <div *ngIf="watched.length === 0" class="text-center mt-3">
          <p>
            Vous n'avez pas encore ajouté de films. Commencez à explorer et ajoutez des films 
            <a href="https://binge-mhss.netlify.app/films">ici</a>.
          </p>        
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
      <div class="movie-list">
        <div *ngFor="let movie of paginatedFavorites()" class="movie-card">
          <a [routerLink]="['/film', movie.id]" class="d-block">
            <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}" />
          </a>
        </div>
        <div *ngIf="favorites.length === 0" class="text-center mt-3">
          <p>
            Aucun favori enregistré pour l'instant. Découvrez des films et ajoutez vos coups de cœur 
            <a href="https://binge-mhss.netlify.app/films">ici</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="watchlist" role="tabpanel" aria-labelledby="watchlist-tab">
      <div class="movie-list">
        <div *ngFor="let movie of paginatedWatchlist()" class="movie-card">
          <a [routerLink]="['/film', movie.id]" class="d-block">
            <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" alt="{{ movie.title }}" />
          </a>
        </div>
        <div *ngIf="watchlist.length === 0" class="text-center mt-3">
          <p>
            Votre liste de films à regarder est vide. Trouvez de nouveaux films à ajouter 
            <a href="https://binge-mhss.netlify.app/films">ici</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade text-dark" id="profileUpdateModal" tabindex="-1" aria-labelledby="profileUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark p-0">
          <ul class="nav nav-tabs text-dark" id="updateTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active text-dark" id="nickname-tab" data-bs-toggle="tab" data-bs-target="#nicknameTabContent" type="button" role="tab" aria-controls="nicknameTabContent" aria-selected="true">
                Modifier le pseudo
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="nickname-tab" data-bs-toggle="tab" data-bs-target="#bioTabContent" type="button" role="tab" aria-controls="bioTabContent" aria-selected="false">
                Modifier la bio
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-dark" id="avatar-tab" data-bs-toggle="tab" data-bs-target="#avatarTabContent" type="button" role="tab" aria-controls="avatarTabContent" aria-selected="false">
                Modifier l'avatar
              </button>
            </li>
          </ul>
          <div class="tab-content text-dark p-3" id="updateTabContent">
            <div class="tab-pane fade show active" id="nicknameTabContent" role="tabpanel" aria-labelledby="nickname-tab">
              <div class="mb-3">
                <input type="text" class="form-control" id="nicknameInputModal" [(ngModel)]="newNickname" (keydown.enter)="onSaveNewNickname()">
                <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
              </div>
              <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal" (click)="onSaveNewNickname()">Sauvegarder</button>
            </div>
            <div class="tab-pane fade" id="bioTabContent" role="tabpanel" aria-labelledby="bio-tab">
              <div class="mb-3">
                <input type="text" class="form-control" id="bioInputModal" [(ngModel)]="newBio" (keydown.enter)="onSaveNewBio()">
                <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>
              </div>
              <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal" (click)="onSaveNewBio()">Sauvegarder</button>
            </div>
            <div class="tab-pane fade" id="avatarTabContent" role="tabpanel" aria-labelledby="avatar-tab">
              <div class="avatar-container d-flex flex-wrap gap-2">
                <div *ngFor="let avatar of avatars" (click)="selectAvatar(avatar, $event)" class="avatar-option" style="cursor: pointer;">
                  <img [src]="avatar" class="rounded-circle" style="width: 50px; height: 50px;">
                </div>
              </div>
              <button type="button" class="btn btn-primary w-100 mt-3" data-bs-dismiss="modal" (click)="saveAvatar()">Sauvegarder</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-dark">
          <h5 class="modal-title" id="followersModalLabel">
            Abonné{{ followersCount >= 2 ? 's' : '' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">
          <div *ngIf="followersList && followersList.length > 0; else noFollowers">
            <div class="avatar-container">
              <div *ngFor="let follower of followersList" class="avatar-option">
                <img [src]="follower.follower_avatar_url" 
                (click)="goToProfile(follower.follower_nickname)"
                data-bs-dismiss="modal"
                style="cursor: pointer;"
                class="rounded-circle" data-bs-dismiss="modal" />
                {{ follower.follower_nickname }}
              </div>
            </div>
          </div>
          <ng-template #noFollowers>
            <p class="text-center">Aucun abonné pour le moment.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="followingsModal" tabindex="-1" aria-labelledby="followingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-dark">
          <h5 class="modal-title" id="followingsModalLabel">
            Abonnement{{ followingCount >= 2 ? 's' : '' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">
          <div *ngIf="followingsList && followingsList.length > 0; else noFollowings">
            <div class="avatar-container">
              <div 
                *ngFor="let following of followingsList" 
                class="avatar-option" 
                data-bs-dismiss="modal"
                (click)="goToProfile(following.following_nickname)"
                style="cursor: pointer;"
              >
                <img [src]="following.following_avatar_url" data-bs-dismiss="modal" class="rounded-circle" />
                {{ following.following_nickname }}
              </div>
            </div>
          </div>
          <ng-template #noFollowings>
            <p class="text-center">Aucun abonnement pour le moment.</p>
          </ng-template>
        </div>
        
      </div>
    </div>
  </div>

  <button *ngIf="isButtonVisible()" class="btn btn-dark back-to-top shadow" (click)="scrollToTop()">
    <i class="fas fa-arrow-up"></i>
  </button>
</div>
